<h1>Create a new chore</h1>

<form action='/chore' method='POST'>
  <p><label>Description: </label>
    <input type='text' name='chore[description]' id="chore_description"></input></p>

  <p><label>Room: </label>
    <input type='text' name='chore[room]' id="chore_room"></input></p>

  <p><label>Day: </label>
    <input type='text' name='chore[day]' id="chore_day"></input></p>


  <p><label>Who does this chore belong to?</label> </p>

  <select name="family_member_id">
    <%  FamilyMember.each do |f| %>
    <!-- current_user.family_members.each -->
    <option name="chore[family_member_id]" id="<%= f.id%>" value="<%= f.id%>">><%= f.name %></option>

  <% end %>
</select>



 <p><input type="submit" value="Create Chore"></p>
</form>
