<title>Edit Family Member</title>
</head>
  <body>
  <h1>Edit Family Member:</h1>
    <form action='/family_members/<%= @family_member.id %>' method='POST'>
      <input id='hidden' type='hidden' name='_method' value='patch'>


      <input type='text' id='name' name='name' value='<%=@family_member.name%>'>
      <input type='submit' value='Submit'>
    </form>
  </body>
</html>
