<h1>Username and/or password not found</h1>
<p>Please make sure you've typed the correct username and password. If you haven't signed up, please create an account now.</p>
<h2 class ='new'>Login</h2>
<p><a href = '/users/login'>Login</a></p>

<h2 class='new'>New User?</h2>
<p><a href = '/users/new'>Create account</a></p>
