<h1> Welcome, <%= current_user.username %>.</h1>
<h3> Choose a path below. </h3>

<form action='/familymember/new' method='GET'>
  <input type='submit' value='Create new family member'

  <form action='/chore/new' method='GET'>
    <input type='submit' value="Create new chore"

  <p>
    <form method='GET' action='/logout'>
      <input type='submit' value= "Logout">
    </form>
  </p>
