
<h1>Login to Chore App!</h1> <div class='house'></div>
<form method='POST' action='/users/login'>
  <label>Username:</label>
  <input type="text" name="username" placeholder="username">
  <label>Password:</label>
  <input type="text" name="password" placeholder="password">

  <input type="submit" value="submit">
</form>
<br/>
<p>If you're not signed up yet, you can create an account <a href = '/users/new'>here</a></p>
