<h1>Sign Up</h1>
<form action='/users/new' method='POST'>
  <p>Username<input type='text' name='username' id='username'></p>
  <p>Email<input type='text' name='email' id='email'></p>
  <p>Password<input type='text' name='password' id= 'password'></p>
  <input type='submit' value='Sign Up' id ='submit'>
</form>
