<h1>Edit chore</h1>

<form action='/chores/<%= @chore.id %>' method='POST'>

  <p><label>Description: </label>
    <input type='text' name='chore[description]' id="chore_description"></input></p>

  <p><label>Room: </label>
    <input type='text' name='chore[room]' id="chore_room"></input></p>

  <p><label>Day: </label>
    <input type='text' name='chore[day]' id="chore_day"></input></p>


    <p><label>Who does this chore belong to?</label> </p>

    <select name="chore[family_member_id]">

      <%  @family_member.each do |f| %>
      <option  id="<%= f.id%>" value="<%= f.id%>"><%= f.name %></option>
    <% end %>
  </select>

 <p><input type="submit" value="Edit Chore"></p>
</form>
