<h2>Create Family Member</h2>

<form action='/family_member' method='POST'>
    <p><label>Name: </label>
      <input type='text' name='name' value='name' id='family_member_id'></p>

    <input type="submit" value="Create Family Member">
  </form>
