<h2>Create Family Member</h2>
<form action='/family_member/new' method='POST'>
  <p>Name: <input type='text' name='name' id='name'></p>

  <h2>Choose existing family member</h2>
  <%@family_member.all.each do |f|%>
  <p><input type='checkbox' name='family_members[name][]' id='name'>  <%=f.name%></input></p>
  <%end%>
  <input type='submit' value='Submit' id ='submit'>
</form>
