<%FamilyMember.all.each do |f|%>
<h1><%= f.name %><h1>
<!-- f.chore -->
<%end%>

<!-- <form action ="/family_member/:slug/edit">
    <input type="submit" value="edit" />
</form> -->
<div><button><a href='/family_member/:slug/edit' class="button"> Edit </a></button>

<form method='post' action="/family_member/<%=@family_member.slug%>">
  <input id='hidden' type='hidden' name='_method' value='DELETE'>
  <input type='submit' value='Delete Family Member'>
</form>

<form  method = 'POST' action='/chore/new'>
    <input type="submit" value="Assign Chore" />
</form>
<!-- <a href='/chore/new' class="button"> Assign Chores </a></button> -->
